# MongoDB settings
# With auth example MONGO_URI=mongodb://admin:admin123@mongo:27017
MONGO_URI=mongodb://@mongo:27017
DB_NAME=sentimentdb

# API security settings
API_KEY=changeme123

# ML model
MODEL_NAME=distilbert-base-uncased-finetuned-sst-2-english

# Logging settings
# Set the logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=DEBUG
